<launch>
  <!-- The end-effector frame_id, depend on what robot you use -->
  <arg name="ee_frame" value="/j2s7s300_end_effector"/>

  <!-- Bring up a realsense -->
  <!-- <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"> -->
  <!-- </include> -->

 <!-- Calibrate the extrinsics for a realsense mounted to a robot base -->
 <!-- User need to specify markerid and markersize -->
  <include file="$(find aruco_hand_eye)/launch/aruco_hand_eye.launch">
    <arg name="markerid"   value="571"/>
    <arg name="markersize" value="0.100"/>
    <arg name="publish_tf" value="true"/>
    
  <!-- In eye-on-base case, marker_parent_frame is the end-effector frame, camera_parent_frame is the world or base frame -->
    <arg name="marker_parent_frame" value="$(arg ee_frame)"/>
    <arg name="camera_parent_frame" value="/world"/>
    <arg name="camera" value="/camera/color"/>
    <!-- Here I use the realsense's camera_color_optical_frame because aruco uses rgb image and depth frame is aligned to color frame here -->
    <arg name="camera_frame" value="/camera_color_optical_frame"/>
  </include>

</launch>

